* {
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: "Bebas Neue";
    src: url(../../../fonts/BebasNeue-Regular.woff);
}

@font-face {
    font-family: "Caveat";
    src: url(../../../fonts/Caveat-Regular.woff);
}

body {
    margin: 30px;
    background: #151515;
    background-image: url(../image/images/bg-designer.jpg);
    background-size: 30%;
    background-repeat: no-repeat;
    background-position: center top;
}

#grid {
    display: grid;
    grid-template-rows: auto 78vh auto;
}

a {
    text-decoration: none;
    font-family: "Caveat";
    color: white;
}

ul {
    list-style: none;
}

h1,
h2 {
    font-family: "Bebas Neue";
}

h3 {
    font-family: "Caveat";
    color: white;
    font-size: 1.4rem;
    margin-left: 10px;
}

hgroup {
    margin-top: 10px;
}

hgroup h1 {
    color: white;
    font-size: 5rem;
    margin-left: 10px;
    letter-spacing: 3px;
}

hgroup h2 {
    color: #e7c282;
    margin-left: 40px;
    font-size: 1.3rem;
}


/* - INÍCIO HEADER */

#nav-menu-mobile {
    display: none;
}

#nav-principal {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#nav-info-perfil {
    display: flex;
    align-items: center;
}

#nav-info-perfil a {
    padding-right: 10px;
    font-size: 2.5rem;
    height: 70px;
}

#imagem-perfil {
    height: 70px;
    width: 70px;
    border-radius: 100%;
    border-top: 2px solid white;
    border-bottom: 2px solid white;
    border-right: 2px solid white;
    border-left: 2px solid white;
}

#menu-desktop {
    display: flex;
    align-items: baseline;
}

#subMenu-hamburguer {
    margin-top: 20px;
}

#subMenu-contatos,
#subMenu-configuracoes,
#subMenu-hamburguer {
    display: none;
}

.subMenu-contatos,
.subMenu-configuracoes,
.subMenu-hamburguer {
    display: none;
}

.mostrar-subMenu-contatos,
.mostrar-subMenu-configuracoes,
.mostrar-subMenu-hamburguer {
    display: flex !important;
    position: fixed;
    flex-direction: column;
    right: 30px;
    border: 2px solid white;
    border-radius: 10px;
    padding: 30px 50px 30px 50px;
    font-size: 1.5rem;
    margin-top: 10px;
    gap: 8px;
}

.esconder-subMenu-contatos,
.esconder-subMenu-configuracoes,
.esconder-subMenu-hamburguer {
    display: flex !important;
    position: fixed;
    flex-direction: column;
    right: 30px;
    border: 2px solid #151515;
    border-radius: 10px;
    padding: 30px 50px 30px 50px;
    font-size: 1.5rem;
    margin-top: 10px;
    gap: 8px;
    transition-duration: .5s;
    transition-delay: .5s;
}

.esconder-subMenu-contatos li a,
.esconder-subMenu-configuracoes li a,
.esconder-subMenu-hamburguer li a {
    color: #151515;
    transition-duration: .5s;
    transition-delay: .5s;
}

#subMenu-contatos a:hover,
#subMenu-configuracoes a:hover,
#subMenu-hamburguer a:hover {
    color: #e7c282;
}

.itens-menu {
    font-size: 30px;
    color: white;
    margin-left: 30px;
}

#menu-hamburguer div {
    border-top: 2px solid white;
    margin-top: 10px;
    margin-left: 30px;
    position: relative;
}

#primeira-barra {
    width: 55px;
    right: 5px;
}

#segunda-barra {
    width: 40px;
    left: 10px;
}

#terceira-barra {
    width: 30px;
    left: 20px
}


/* - FIM HEADER */


/* - INÍCIO MAIN */

main h3 {
    margin-top: 50px;
    margin-bottom: 10px;
}

section {
    display: flex;
    gap: 30px;
}

article img {
    width: 150px;
    height: 220px;
    border-radius: 10px;
}

article p {
    font-family: "Caveat";
    color: white;
    font-size: 1.3rem;
    width: 150px;
    text-align: center;
}


/* - FIM MAIN */

footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

footer h2 {
    color: #e7c282;
    font-size: 1.2rem;
    margin-left: 15px;
}

#projetos img {
    width: 150px;
    height: 150px;
}

#copyright {
    color: white;
    font-size: 1.4rem;
}


@media (max-width: 576px){
    body{
        margin: 30px;
        background: #1c1c1c;
        background-image: url(../image/images/bg-moon.jpg);
        background-size: 80%;
        background-repeat: no-repeat;
        background-position: center top;  
    }

    #grid {
        grid-template-rows: auto 70vh auto;
    }

    #nav-principal{
        display: none;
    }

    #itens-menu-mobile{
        display: none;
    }

    #nav-menu-mobile{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    #nav-menu-mobile img{
        margin-top: 10px;
    }

    .nome-perfil {
        font-size: 1.3rem;
    }

    hgroup {
        margin-left: 20px;
    }
    
    hgroup h1 {
        font-size: 2rem;
    }
    
    hgroup h2 {
        font-size: 1rem;
    }

    main h3 {
        margin-left: 20px;
    }

    article img {
        width: 120px;
        height: 190px;
        border-radius: 10px;
    }
    
    article p {
        font-size: 1.3rem;
        width: 120px;
    }

    #imagem-perfil{
        width: 70px;
        height: 70px;
    }

    #menu-hamburguer div {
        margin-top: 5px;
    }
    
    #primeira-barra {
        width: 35px;
        left: 5px;
    }
    
    #segunda-barra {
        width: 25px;
        left: 15px;
    }
    
    #terceira-barra {
        width: 15px;
        left: 25px
    }

    footer h2{
        font-size: 1rem;
    }

    #copyrigth{
        font-size: 1rem;
    }
}

@media (min-width: 576px) and (max-width: 850px){
    body{
        margin: 30px;
        background: #1c1c1c;
        background-image: url(../image/images/bg-moon.jpg);
        background-size: 60%;
        background-repeat: no-repeat;
        background-position: center top;  
    }
    
    #grid {
        grid-template-rows: auto auto auto;
    }
    
    #nav-principal{
        display: none;
    }

    #itens-menu-mobile{
        display: none;
    }

    #nav-menu-mobile{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    #nav-menu-mobile img{
        margin-top: 10px;
    }

    .nome-perfil {
        font-size: 1.3rem;
    }

    hgroup {
        margin-left: 20px;
    }
    
    hgroup h1 {
        font-size: 2rem;
    }
    
    hgroup h2 {
        font-size: 1rem;
    }

    main h3 {
        margin-left: 20px;
    }

    article img {
        width: 120px;
        height: 190px;
        border-radius: 10px;
    }
    
    article p {
        font-size: 1.3rem;
        width: 120px;
    }

    #imagem-perfil{
        width: 70px;
        height: 70px;
    }

    #menu-hamburguer div {
        margin-top: 5px;
    }
    
    #primeira-barra {
        width: 35px;
        left: 5px;
    }
    
    #segunda-barra {
        width: 25px;
        left: 15px;
    }
    
    #terceira-barra {
        width: 15px;
        left: 25px
    }

    footer{
        margin-top: 50px;
    }

    footer h2{
        font-size: 1rem;
    }

    #copyrigth{
        font-size: 1rem;
    }

}