<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="robots" content="">
    <meta name="author" content="">
    <link rel="icon" href="">
    <link rel="stylesheet" href="css/administrador.css" type="text/css">


    <!--Link das fontes utilizadas-->
    <script src="https://kit.fontawesome.com/11a0ae1d38.js" crossorigin="anonymous"></script>
    <title>Administrador</title>
</head>

<body>

    <% if(validacao) { %>
        <li><strong><%=validacao%></strong></li>
        <%}%>

            <main>
                <hgroup>
                    <h1>Portfolio Dinâmico</h1>
                </hgroup>
            </main>


            <!--Este formulário abaixo serve para fazer o login-->
            <form action="admin/login" method="post" id="form-login">
                <label for="admin">Nome de usuario</label>
                <input type="text" name="nomeUsuarioLogin" id="admin">

                <label for="senha">Senha</label>
                <input type="password" id="senha" name="senhaLogin">

                <input type="submit" value="Entrar">
            </form>

            <br /><br />

            <!--Este formulário abaixo serve para fazer um cadastro
        ele aparecerá conforme o usuario clica no botão de se inscrever
        -->
            <form action="admin/register" method="post" id="form-register">

                <label for="adminRegister">Administrador</label>
                <input type="text" name="adminRegister" id="adminRegister">
                <br />
                <label for="senhaRegister">Senha</label>
                <input type="password" name="senhaRegister" id="senhaRegister">
                <br />
                <label for="userName">Nome de Usuário</label>
                <input type="text" name="nomeUsuarioRegister" id="userName">
                <br />
                <label for="email">E-Mail</label>
                <input type="mail" name="email" id="email">
                <br />
                <label for="telephone">Telefone ou celular</label>
                <input type="tel" name="telefone" id="telephone">
                <br />
                <label for="whatsapp">Whatsapp</label>
                <input type="tel" name="whatsapp" id="whatsapp">
                <br />
                <p>Sobre mim:</p>
                <textarea name="sobreMim" id="sobreMim"></textarea>

                <p>Escreva abaixo os serviços prestados</p>
                <textarea name="servicos" id="servicosPrestados"></textarea>

                <input type="submit" value="Inscrever">
            </form>

            <!-- Este outro fomulário é pra visitantes, pra colocar o nome de usuário do Designe desejado-->
            <h2>
                Sou visitante
            </h2>

            <br />

            <form action="visitante" method="post" id="form-visitante">
                <label for="nomeUsuarioDesigne">Nome de usuário do designer:</label>
                <input type="text" name="nomeUsuario" id="nomeUsuarioDesigne">
                <input type="submit" value="Visitar">
            </form>

</body>

</html>