<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="keywords" content="">
        <meta name="robots" content="">
        <meta name="author" content="">
        <link rel="icon" href="">
        <link rel="stylesheet" href="../public/style.css"> 
        <script src="https://kit.fontawesome.com/11a0ae1d38.js" crossorigin="anonymous"></script>
        <title>Início</title>
    </head>
    <body>
        <div>
            <header>
                <nav id="nav-principal">
                    <nav id="nav-info-perfil">
                        <a href="#"><div id="imagem-perfil"></div></a>
                        <a href="#"><span class="caveat">Roberto Designer</span></a>
                    </nav>

                    <nav id="nav-menu-desktop">
                        <ul id="menu-desktop">
                            <li>
                                <span id="contatos" class="icones"><i class="far fa-comments"></i></span>
                                <ul class="subMenu-desktop">
                                    <li><a href="#">Whatsapp</a></li>
                                    <li><a href="#">E-mail</a></li>
                                    <li><a href="#">Telefone</a></li>
                                </ul>
                            </li>
                            <li>
                                <span id="configuracoes" class="icones"><i class="fas fa-cog"></i></span>
                                <ul class="subMenu-desktop">
                                    <li><a href="#">Tema claro</a></li>
                                    <li><a href="#">Tema Escuro</a></li>
                                </ul>
                            </li>
                            <li>
                                <div id="menu-hamburguer"></div>
                                <div id="menu-hamburguer1"></div>
                                <ul class="subMenu-desktop">
                                    <li><a href="#">Sobre mim</a></li>
                                    <li><a href="#">Serviços</a></li>
                                </ul>
                            </li>
                        </ul>
                    </nav>
                </nav>

                <nav id="nav-menu-mobile">
                    <span>Menu</span>
                    <ul>
                        <li><a href="#">Sobre mim</a></li>
                        <li><a href="#">Contatos</a></li>
                        <ul>
                            <li><a href="#">Whatsapp</a></li>
                            <li><a href="#">E-mail</a></li>
                            <li><a href="#">Telefone</a></li>
                        </ul>
                        <li><a href="#">Serviços</a></li>
                        <ul>
                            <li><a href="#">Tema claro</a></li>
                            <li><a href="#">Tema Escuro</a></li>
                        </ul>
                    </ul>
                </nav>
            </header>
            <main>
                <hgroup>
                    <h1>Saudações!</h1>
                    <h2>Espero que goste dos projetos, e que eu possa realizar essa grande etapa de sua vida.</h2>
                </hgroup>

                <h2>Últimos projetos</h2>
                <section>
                    <article>
                        <img src="" alt="">
                        <p>
                            Projeto 1
                        </p>
                    </article>
                </section>
            </main>
            <footer>
                <span>&copy;</span> <span>Desenvolvido por Roberto - 2021</span>
            </footer>
        </div>
    </body>
</html>