<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="keywords" content="">
        <meta name="robots" content="">
        <meta name="author" content="">
        <link rel="icon" href="">
        <link rel="stylesheet" href="../public/css/style.css">
        <link rel="stylesheet" href="../public/css/sobre_mim.css">
        <script src="https://kit.fontawesome.com/11a0ae1d38.js" crossorigin="anonymous"></script>
        <title>Serviços</title>
    </head>
    <body>
        <div id="grid">
            <header>
                <nav id="nav-principal">
                    <nav id="nav-info-perfil">
                        <a href="#"><img src="../public/image/images/perfil.jpg" alt="" id="imagem-perfil"></a>
                        <a href="#"><span class="caveat">Roberto Designer</span></a>
                    </nav>
                    <nav id="nav-menu-desktop">
                        <ul id="menu-desktop">
                            <li>
                                <span id="contatos" class="itens-menu" onmouseover="mostrarContatos(); esconderHamburguer(); esconderConfiguracoes()" onmouseout="timeContatos()"><i class="far fa-comments"></i></span>
                                <ul id="subMenu-contatos"  onmouseover="mostrarContatos()" onmouseout="esconderContatos()">
                                    <li><a href="#">Whatsapp</a></li>
                                    <li><a href="#">E-mail</a></li>
                                    <li><a href="#">Telefone</a></li>
                                </ul>
                            </li>
                            <li>
                                <span id="configuracoes" class="itens-menu" onmouseover="mostrarConfiguracoes(); esconderHamburguer(); esconderContatos()" onmouseout="timeConfiguracoes()"><i class="fas fa-cog"></i></span>
                                <ul id="subMenu-configuracoes" onmouseover="mostrarConfiguracoes()" onmouseout="esconderConfiguracoes()">
                                    <li><a href="#">Tema claro</a></li>
                                    <li><a href="#">Tema Escuro</a></li>
                                </ul>
                            </li>
                            <li>
                                <div id="menu-hamburguer" onmouseover="mostrarHamburguer(); esconderContatos(); esconderConfiguracoes()" onmouseout="timeHamburguer()">
                                    <div id="primeira-barra"></div>
                                    <div id="segunda-barra"></div>
                                    <div id="terceira-barra"></div>
                                </div>
                                <ul id="subMenu-hamburguer" onmouseover="mostrarHamburguer()" onmouseout="esconderHamburguer()">
                                    <li><a href="#">Sobre mim</a></li>
                                    <li><a href="servicos.html">Serviços</a></li>
                                </ul>
                            </li> 
                        </ul>
                    </nav>

                    <nav id="nav-menu-mobile">
                        <span>Menu</span>
                        <ul>
                            <li><a href="#">Sobre mim</a></li>
                            <li><a href="#">Contatos</a></li>
                            <ul>
                                <li><a href="#">Whatsapp</a></li>
                                <li><a href="#">E-mail</a></li>
                                <li><a href="#">Telefone</a></li>
                            </ul>
                            <li><a href="servicos.html">Serviços</a></li>
                            <ul>
                                <li><a href="#">Tema claro</a></li>
                                <li><a href="#">Tema Escuro</a></li>
                            </ul>
                        </ul>
                    </nav>
                </nav>
            </header>
            <main>
                <h1>Sobre mim</h1>
                <article>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
                        Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                    </p>
                </article>
            </main>
            <footer>
                <span id="copyright">&copy;</span>
                <h2>Desenvolvido por Roberto - 2021</h2>
            </footer>
        </div>
        <script src="../public/script.js"></script>
    </body>
</html>